body {
    background-color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
}
#landing-header h1 {
    color: #fff;
    font-size: 36px;
    font-weight: lighter;
}
.slideshow {
    padding: 0px;
    margin: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    list-style: none;
    z-index: 0;
}
.slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    animation: imageAnimation 50s linear infinite;
}
a.btn {
    background-color: #4ad;
    padding: 10px 36px;
    text-decoration: none;
    font-size: 24px;
    border-radius: 10px;
    color: #fff;
}
.slideshow li:nth-child(1) {
    background-image: url("../background_slider/img1.jpg");
}
.slideshow li:nth-child(2) {
    background-image: url("../background_slider/img2.jpg");
    animation-delay: 10s;
}
.slideshow li:nth-child(3) {
    background-image: url("../background_slider/img3.jpg");
    animation-delay: 20s;
}
.slideshow li:nth-child(4) {
    background-image: url("../background_slider/img4.jpg");
    animation-delay: 30s;
}
.slideshow li:nth-child(5) {
    background-image: url("../background_slider/img5.jpg");
    animation-delay: 40s;
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
}