<%- include('../partials/header.ejs') %>
<link rel="stylesheet" href="/stylesheets/forms.css">

<div class="form">
    <h2>Add New Wash for <%= customer.fullname %></h2>
    <form action="/customers/<%= customer._id %>/washes/" method="post">
        <label for="waf">
            <input type="checkbox" name="wash-types" id="waf" value="Wash and Fold" placeholder="">Wash and Fold
        </label>
        <label for="hw">
            <input type="checkbox" name="wash-types" id="hw" value="Hand Wash" placeholder="">Hand Wash
        </label>
        <label for="dc">
            <input type="checkbox" name="wash-types" id="dc" value="Dry Clean" placeholder="">Dry Clean
        </label>
        <label for="carp">
            <input type="checkbox" name="wash-types" id="carp" value="Carpets" placeholder="">Carpets
        </label>
        <label for="">
            <textarea name="description" id="" cols="30" rows="10" placeholder="Wash Description"></textarea><br>
        </label>
        <label for="">
            <input type="submit" value="ADD WASH RECORD">
        </label>
    </form>
</div>


<%- include('../partials/footer.ejs') %>